body {
    text-align: center;
}

#groceryList {
    display: inline-flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

ul li {
    text-align: left;
}

.underline {
     border-bottom: 1px solid #000000;
}

#total {
    border-top: 1px solid #000000;
}
